@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  padding: 0;
  margin: 0;
}

.container {
  overflow: hidden;
}

.tabs-boards {
  letter-spacing: 1px;
}

.tabs-logout {
  letter-spacing: 1px;
  margin-right: 150px;
}

.login-title {
  font-family: Roboto;
  position: relative;
  top: 25%;
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 5%;
  }
}



.board-input-container {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  .board-button {
    margin-left: 5%;
  }
}

.idea-input-container {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  .idea-button {
    margin-left: 2%;
  }
}

a, a:active, a:visited {
  color: black;
  text-decoration: none;
}

a > img {
  width: 100%;
}

.bubble{
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  vertical-align: top;
}
